.gridcontainer {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  float: left;
  padding: 5px;
  width: 250px;
  height: 610px;
  margin: 15px;
}

.gridcontainer > div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  border-radius: 30px;
}

.gridcontainer:hover {
  transform: translateY(-3px);
}

h6 {
  color: black;
}

img {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 3%;
}

div.desc {
  padding: 0px;
}

.container {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
}

.container .box {
  position: relative;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  transform: translateY(-3px);

}

.content {
  position: relative;
  padding: 20px;
}

p {
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}